li{
    color:blueviolet;
    display: inline;
    background-color: #ffffff;
    margin-inline: 100;
    font-family: 'Roboto';font-size: 50px;
    margin-inline-end: 20%;
   
  } 

ul{
    background-color: rgba(184, 180, 185, 0.945);

}
nav{
	
	text-align: center;
}

main{
    background-color: rgb(187, 187, 116);
    
}
h2{

    color: blue;
    padding-left: 800px;
    padding-top: 10px;
    padding-bottom: 10px; 
}
p{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    width: 50%;
    margin-left: 40%;
    margin-right: 30%;
}
div{
    justify-content: flex-start;

}
i{
    font-size: 40px;
    color: blueviolet;
}
i:hover{
    cursor: pointer;
    color: blue;
}
img{
    width: 40%;
    margin-left: 30%;
   }
box{
    border: 3px solid red;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 50px;
    width: 300px;
}
img{
    
}